<h1 md-dialog-title>About</h1>
<div md-dialog-content>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia mollitia totam a reprehenderit dicta, dolore porro quae
    vitae aliquid. Minus adipisci ad fugiat, incidunt autem pariatur ratione aliquid hic debitis excepturi veritatis reiciendis
    animi alias officiis doloribus, fuga similique aut quo cupiditate culpa. Laboriosam natus ducimus iure recusandae quia
    quam tenetur ex dolorem cumque laborum nobis officiis labore illum nihil, corporis, officia porro optio ab at esse eligendi
    explicabo et nemo a. Aperiam ad tempora veritatis ullam unde reprehenderit excepturi veniam, ipsa esse est magnam ratione
    nobis amet accusantium eum molestiae eos architecto quas. Odio sunt enim, nostrum ut mollitia molestiae nam dolorem labore
    eaque, nihil neque provident obcaecati natus necessitatibus in! Nemo et eveniet laborum neque ipsum! Necessitatibus iste
    tempore debitis quod veritatis error quasi explicabo, dolores sequi! Ratione reiciendis alias, beatae non necessitatibus
    itaque facere soluta eaque. Officia incidunt officiis, ipsa iusto soluta porro velit architecto voluptatum, adipisci
    repellendus sint corrupti odit dolorem. Voluptas ea sapiente odio nemo delectus? Laborum modi sit alias voluptatum reiciendis
    minima itaque adipisci. Perspiciatis distinctio doloribus, magnam inventore. Pariatur, magni laudantium repudiandae.
    Provident dicta ullam officiis dolorem dolore assumenda ipsam sed eveniet! Neque, eos, architecto. Unde similique voluptate
    repellat ipsum placeat magni dolores aspernatur aliquam dignissimos non cumque a veniam sequi natus aliquid dolorem,
    aperiam consequuntur rem! Minus harum modi mollitia explicabo dolore quae ducimus! Distinctio, vitae saepe facere sequi,
    obcaecati assumenda minima accusamus soluta nam harum optio impedit dolores consequatur quae ut aliquam maiores tempore
    animi numquam. Praesentium sapiente explicabo accusantium vero autem quos, incidunt expedita quia molestiae, nam recusandae.
    Quibusdam nisi libero cupiditate iusto exercitationem totam possimus consectetur, labore necessitatibus qui ad consequuntur
    eveniet nulla quis beatae dolorem repudiandae ipsam quasi quaerat ab tempora facilis debitis fugit. Excepturi eaque,
    voluptate quod, maxime ullam voluptas dolor tempore laudantium consequatur, harum deserunt quaerat repellendus? Consequuntur
    commodi saepe itaque ullam cumque eaque ea quae modi sequi dignissimos iusto, dolorem repudiandae vero eveniet omnis
    consectetur quaerat optio totam. Dolor consequatur dicta, ad quia vero debitis in cum laboriosam explicabo, quam fuga
    deleniti eius necessitatibus eaque dolores modi porro, distinctio, soluta vitae repellat eveniet mollitia? Magni, repellat,
    laboriosam. At illo, tempore consequatur accusamus consequuntur. Cumque dolor aperiam cupiditate id veritatis, minima
    sit est, odit pariatur voluptas nostrum unde error placeat facere soluta sunt. Quod at magnam dolore ratione consequuntur
    odit, sapiente quia fugiat, excepturi beatae! Doloribus, minus! Quae magnam doloremque natus quod similique dolorum velit
    maxime, consequatur veritatis placeat ab tempore vero fugit et cupiditate eligendi ipsa, voluptatem expedita dignissimos
    asperiores! Facere incidunt delectus natus beatae cum laborum nisi necessitatibus blanditiis veniam rerum, totam neque
    praesentium asperiores hic quisquam saepe deserunt non possimus, impedit architecto error molestiae! Consequuntur voluptate
    sint quibusdam explicabo dicta dolorem sequi amet qui quo libero totam aspernatur possimus enim quam rerum voluptatem,
    sed praesentium consectetur vero facere fuga nihil quas! Atque, asperiores, sit magnam molestiae eveniet suscipit nemo
    porro quibusdam impedit sed nam, alias a omnis illo consequatur deleniti! Natus commodi iusto recusandae ducimus voluptatem,
    doloremque omnis, obcaecati eaque vitae provident ratione.</p>
</div>
