<h1 md-dialog-title>About</h1>
<div md-dialog-content>
  Would you care for some tea along with some sayings and inspirational quotes? Well, YogiBot shows you sayings from YogiTea
  and other than reading these useful quotes from famous people, you get to share them with family and friends, and spread
  these motivational quotes to anyone you care about. YogiBot comes with a clean and neat design, and the interface is so
  user-friendly that you’ll get the whole idea after browsing through available quotes and sayings. YogiBot has a big database
  of hundreds of quotes and sayings, and the good news is that you get to add the missing YogiTea quotes to the database
  by sending your desired sayings. So, if you like reading famous sayings and apply them in your life, use YogiBot for free
  and enjoy the always updating database of the YogiTea sayings. Share the inspirational quotes with family and friends,
  and enjoy reading them in various languages.

  <hr>

  <h3>What Should I Expect From YogiBot?</h3>

  Well, YogiBot gathers hundreds of sayings and quotes and shows it to you randomly in a most relaxing and peaceful interface.
  Users get to send the missing quotes to be added to the server, and they also get to share it with those who they care
  about. Available languages are English and German, and since the sayings appear randomly with no specific category, you’ll
  never know what comes next. The only thing you know, is that the sayings and quotes are inspirational, touching, and moving.
  <hr>
  <h3>YogiBot Main Features at a Glance:</h3>

  <li>Clean and neat design with fresh and intuitive interface</li>
  <li>Rich database of YogiTea sayings (and constantly updating)</li>
  <li>Share your favorite sayings to family and friends</li>
  <li>Send the missing quotes to be added to the server</li>
  <li>Available in English and German</li>
  <li>Useful for anyone</li>
  <li>Free to use and without ads</li>
  <br> So, grab your cup of tea, read a saying, and let us know about any bugs, questions, feature requests, or any other
  suggestions.
  <hr>
  <div fxLayout="row wrap">
    <a href="https://github.com/Crazy-Marvin/yogibot-website" target="_blank"><i class="fa fa-github" aria-hidden="true"> Code on GitHub</i></a><br>
    <a href="https://twitter.com/OfficialYogiBot" target="_blank"><i class="fa fa-twitter" aria-hidden="true"> YogiBot on Twitter</i></a><br>
    <a href="https://play.google.com/store/apps/details?id=rocks.poopjournal.yogibot" target="_blank"><i class="fa fa-android" aria-hidden="true"> Android app</i></a><br>
    <a href="https://apple.com" target="_blank"><i class="fa fa-apple" aria-hidden="true"> iOS app</i></a><br>
    <a href="https://telegram.me/YogiTelegramBot" target="_blank"><i class="fa fa-telegram" aria-hidden="true"> @YogiTelegramBot</i></a><br>
    <a href="https://slack.com/" target="_blank"><i class="fa fa-slack" aria-hidden="true"> Slack bot</i></a><br>
    <a href="mailto:?subject=I want you to see the awesome YogiBot site&amp;body=Check out https://poopjournal.rocks/YogiBot"><i class="fa fa-share-alt-square " aria-hidden="true"> Share YogiBot</i></a><br>
    <a href="bitcoin:1DAzWTRQFG3i1HJJvwjPhBVT7q9zv8SxBB" target="_blank"><i class="fa fa-btc" aria-hidden="true"> Donate Bitcoin</i></a><br>
  </div>
</div>
