<md-toolbar class="transparent">
  <a href="#">
    <img src="assets/img/Yogi.png" alt="">
  </a>
  <span class="flex-spacer"></span>
  <a md-button (click)="generate()">
    <md-icon>refresh</md-icon>
    <span>Generate</span>
  </a>
  <a href="mailto:yogi@poopjournal.rocks?Subject=YogiBot Contact&Body=" md-button>
    <md-icon>mail_outline</md-icon>
    <span>Contact</span>
  </a>
  <a md-button (click)="openLegalDialog()">
    <md-icon>gavel</md-icon>
    <span>Legal</span>
  </a>
  <a md-button (click)="openAboutDialog()">
    <md-icon>info_outline</md-icon>
    <span>About</span>
  </a>
  <md-icon>language</md-icon>
  <!-- <md-input-container>
    <input mdInput [mdAutocomplete]="auto"  [(ngModel)]="selection.name" [formControl]="languageCtrl" class="language-input">
  </md-input-container>
  <md-autocomplete #auto="mdAutocomplete">
    <md-option *ngFor="let language of filteredLanguages  | async" [value]="language" (onSelectionChange)="change(language)">
      {{ language }}
    </md-option>
  </md-autocomplete> -->
  <md-input-container>
    <input mdInput [mdAutocomplete]="auto" [(ngModel)]="selection.name" (ngModelChange)="onSelectionChange(selection.name)"
      class="language-input">
  </md-input-container>
  <md-autocomplete #auto="mdAutocomplete">
    <md-option *ngFor="let language of filterLangs" [value]="language">
      {{ language }}
    </md-option>
  </md-autocomplete>
</md-toolbar>
