<mat-toolbar class="transparent">
  <a href="#">
    <img src="assets/img/Yogi.png" alt="" [ngStyle.lt-md]="{ 'width': '50px'}">
  </a>
  <span class="flex-spacer"></span>
  <a mat-button (click)="generate()" [ngStyle.lt-sm]="{ 'min-width': '30px','margin-left':'20px'}">
    <mat-icon>refresh</mat-icon>
    <span fxHide.lt-md="true" style="display: inline;">Generate</span>
  </a>
  <a href="mailto:yogi@poopjournal.rocks?Subject=YogiBot Contact&Body=" mat-button fxHide.lt-md="true">
    <mat-icon>mail_outline</mat-icon>
    <span>Contact</span>
  </a>
  <a mat-button (click)="openLegalDialog()" fxHide.lt-md="true">
    <mat-icon>gavel</mat-icon>
    <span>Legal</span>
  </a>
  <a mat-button (click)="openAboutDialog()" fxHide.lt-md="true">
    <mat-icon>info_outline</mat-icon>
    <span>About</span>
  </a>
  <mat-icon>language</mat-icon>

  <mat-form-field>
    <input matInput [matAutocomplete]="auto" [(ngModel)]="selection.name" (ngModelChange)="onSelectionChange(selection.name)" class="language-input">
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let language of filterLangs" [value]="language">
      {{ language }}
    </mat-option>
  </mat-autocomplete>



  <button mat-icon-button [matMenuTriggerFor]="menu" fxHide.gt-sm="true">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item href="mailto:yogi@poopjournal.rocks?Subject=YogiBot Contact&Body=">
      <mat-icon>mail_outline</mat-icon>
      <span>Contact</span>
    </a>
    <a mat-menu-item (click)="openLegalDialog()">
      <mat-icon>gavel</mat-icon>
      <span>Legal</span>
    </a>
    <a mat-menu-item (click)="openAboutDialog()">
      <mat-icon>info_outline</mat-icon>
      <span>About</span>
    </a>
  </mat-menu>
</mat-toolbar>
