/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/css?family=Roboto:400,900';
* {
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("assets/img/YogiBot_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

html {
  height: 100%;
}
